@import "tailwindcss";

:root {
  --background: #ffffff00;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
